.page1{
    float: left;
    width: 70%;
    padding-left: 100px;
}
 .page2{
   
    padding-right: 100px;
} 
img{
    width: 1100px;
    height: 500px;}
    

p{
    text-align: justify;
}


.section{
    height: 400px;
    margin-left: 300px;
    padding-top: 10px;
  }
  .grid-container4 {
    display:inline-grid;
    grid-template-columns: auto auto auto auto auto;
   
  }
  .grid-item3{
    padding: 70px;
    padding-left: 50px;
    color:rgba(11, 12, 12, 0.808)
  
  }
  .social{
    display:inline;
    padding-right: 50px;
   
  }
  .logo3{
    height: 50px;
    width:50px;
  }
  .list{
    padding-right: 150px;
  }
  
  /* footer */
  .footer {
    text-align: left;
    padding: 3px;
    background-color: rgba(15, 15, 15, 0.434) ;
    color: rgba(19, 18, 18, 0.541);
    height:50px;
   
  }
  .copy{
    height: 20px;
    width:20px;
    
  }
  .copyrights{
    margin-left: 230px;
    padding-top: 10px;
  }
  .last{
    display: inline;
    
  }
  
  
  
  
  
  